.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  background-color: rgba(107, 44, 44, 0.432);
}

.linksDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.link {
  color: rgb(27, 7, 7);
  text-decoration: none;
  font-size: 20px;
  padding: 5px 0 5px 0;
}

.link2 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 5px 20px 5px 20px;
}

.title {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
